<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Branches</title>
    <link rel="stylesheet" href="/css/branches.css">

</head>
<body>
<h1>Branches</h1>

<!-- Button to open the modal for creating a new branch -->
<button id="openModalButton" class="header-btn">Create a New Branch</button>

<!-- Button to open the modal for merging branches -->
<button id="openMergeModalButton" class="header-btn">Merge Branches</button>

<!-- Create Branch Modal -->
<div id="createBranchModal">
    <div class="modal-content">
        <span class="close" id="closeCreateBranchModal">&times;</span>
        <h2>Create a New Branch</h2>
        <label for="branchName">Branch Name:</label>
        <input type="text" id="branchName" required>

        <label for="parentBranch">Parent Branch:</label>
        <select id="parentBranch">
            <!-- Parent branches will be populated here -->
        </select>

        <button id="createBranchButton">Create Branch</button>
    </div>
</div>

<!-- Merge Branch Modal -->
<div id="mergeBranchModal">
    <div class="modal-content">
        <span class="close" id="closeMergeBranchModal">&times;</span>
        <h2>Merge Branches</h2>
        <label for="sourceBranch">Source Branch:</label>
        <select id="sourceBranch">
            <!-- Source branches will be populated here -->
        </select>

        <label for="targetBranch">Target Branch:</label>
        <select id="targetBranch">
            <!-- Target branches will be populated here -->
        </select>

        <button id="mergeBranchButton">Merge Branches</button>
    </div>
</div>

<table>
    <thead>
    <tr>
        <th>Branch Name</th>
        <th>Timestamp</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="branchesTableBody">
        <!-- Dynamic rows for branches will be added here -->
    </tbody>
</table>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>

<script src="/js/branches.js"></script>
</body>
</html>
